.codegen_global_message_bold_text{
    font-weight: bold;
}

.codegen_global_message_wrapper{
    padding: 1.5rem 3rem;
    background: rgba(0,255,0,0.1);
    margin-top: 0.5rem;
}

.codegen_global_message_wrapper.success{
    background: rgba(0,255,0,0.1);
}

.codegen_global_message_wrapper.warning{
    background: rgba(255,0,0,0.1);
}

.codegen_modal.hidden{
    display: none;
}

.codegen_modal .admin__fieldset-wrapper-content{
    padding: 2rem;
}

#controller_modal .slider-content.module .admin__fieldset-wrapper-content,
#currently_selected_module_modal .admin__fieldset-wrapper-content{
    box-sizing: border-box;
    opacity: 0.7;
    transform: scale(0.9);
    transition: transform 0.2s ease-in-out;
}

#controller_modal .slider-content.module .admin__fieldset-wrapper-content.active,
#controller_modal .slider-content.module .admin__fieldset-wrapper-content:hover,
#currently_selected_module_modal .admin__fieldset-wrapper-content.active,
#currently_selected_module_modal .admin__fieldset-wrapper-content:hover{
    opacity: 1;
    transform: scale(0.92);
    transition: transform 0.2s ease-in-out;
    background: #f6f6f6;
}

#controller_modal .slider-content.module .admin__fieldset-wrapper-content.active,
#currently_selected_module_modal .admin__fieldset-wrapper-content.active{
    border: 2px dashed grey;
}

.codegen_modal .fieldset-wrapper-title{
    font-size: 1.7rem;
}

.codegen_modal .admin__field-note > span{
    display: block;
}

.codegen_modal .admin__field-note > span:not(:first-child){
    margin-top: 0.2rem;
}

.or-divider{
    margin: 3rem auto;
    text-align: center;
    border-bottom: 1px solid silver;
    font-size: 1.7rem;
    position: relative;
}

.or-divider.short{
    width: 30%;
}

.or-divider > span{
    position: absolute;
    margin-top: -1.2rem;
    background: white;
    padding: 0 6px;
}

.action-main-popup.select{
    background-color: #514943;
    border-color: #514943;
}

.action-main-popup.create{
    background-color: #eb5202;
    border-color: #eb5202;
}