.currently_selected_module_wrapper{
    padding: 1.5rem 3rem;
    background: rgba(0,255,0,0.1);
    margin-top: 1.5rem;
}

.currently_selected_module_wrapper.success{
    background: rgba(0,255,0,0.1);
}

.currently_selected_module_wrapper.warning{
    background: rgba(255,0,0,0.1);
}

#currently_selected_module_modal.hidden{
    display: none;
}

#currently_selected_module_modal .admin__fieldset-wrapper-content{
    padding: 2rem;
    opacity: 0.7;
    transform: scale(0.9);
    transition: transform 0.2s ease-in-out;
}

#currently_selected_module_modal .admin__fieldset-wrapper-content.active,
#currently_selected_module_modal .admin__fieldset-wrapper-content:hover{
    opacity: 1;
    transform: scale(0.92);
    transition: transform 0.2s ease-in-out;
}

#currently_selected_module_modal .admin__fieldset-wrapper-content:hover{
    background: #f6f6f6;
}

#currently_selected_module_modal .fieldset-wrapper-title{
    font-size: 1.7rem;
}

.or-divider{
    margin: 3rem auto;
    text-align: center;
    border-bottom: 1px solid silver;
    font-size: 1.7rem;
    position: relative;
}

.or-divider.short{
    width: 30%;
}

.or-divider > span{
    position: absolute;
    margin-top: -1.2rem;
    background: white;
    padding: 0 6px;
}