<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Ibg_Codegen::main" title="Code Generator" translate="title" sortOrder="900">
                    <resource id="Ibg_Codegen::backend" title="Backend" translate="title" sortOrder="10">
                        <resource id="Ibg_Codegen::module" title="Module" translate="title" sortOrder="10" />
                    </resource>
                    <resource id="Ibg_Codegen::frontend" title="Frontend" translate="title" sortOrder="20">
                        <resource id="Ibg_Codegen::theme" title="Theme" translate="title" sortOrder="10" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
