<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- Add Square menu item under Sales (in admin section) -->
        <add id="Ibg_Codegen::main"
             title="Code Generator"
             translate="title"
             module="Ibg_Codegen"
             sortOrder="10"
             resource="Ibg_Codegen::main"/>
        <add id="Ibg_Codegen::backend"
             title="Backend"
             translate="title"
             module="Ibg_Codegen"
             sortOrder="10"
             parent="Ibg_Codegen::main"
             resource="Ibg_Codegen::backend"/>
        <add id="Ibg_Codegen::module"
             title="Module"
             translate="label"
             module="Ibg_Codegen"
             sortOrder="10"
             parent="Ibg_Codegen::backend"
             resource="Ibg_Codegen::module"/>

        <!--<add id="Ibg_Codegen::frontend"
             title="Frontend"
             translate="title"
             module="Ibg_Codegen"
             sortOrder="20"
             parent="Ibg_Codegen::main"
             resource="Ibg_Codegen::frontend"/>
        <add id="Ibg_Codegen::theme"
             title="Theme"
             translate="label"
             module="Ibg_Codegen"
             sortOrder="10"
             parent="Ibg_Codegen::frontend"
             resource="Ibg_Codegen::theme"/>-->
    </menu>
</config>
